@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #fffefe;
}

button{
	outline: none;
	background-color: transparent;
	border: none;
	padding: 10px;
	width: 50px;
	height: 50px;
}

button:hover{
	outline: none;
	background-color: #eee;
	border: none;
	border-radius: 50%;
}

button:active{
	outline: none;
	background-color: #eee;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 2px;
}

.controls{
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	margin-top: 10px;
}

.controls div{
	width: 10rem;
	background-color: #fffefe;
	padding: 5px;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
}

.board{
	width: 100vw;
	height: 100vh;
}

.player.one{
	background-color: #4392f1;
}

.player.two{
	background-color: #f64841;
}

.player .display{
	text-align: center;
}

.player .name{
	text-transform: uppercase;
	font-size: 2rem;
}

.player .score{
	text-transform: uppercase;
	font-size: 5rem;
}

.player .score .current{
	font-size: 1.5rem;
	vertical-align: middle;
	display: none;
}

.dice{
	display: none !important;
}

.dice img{
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 50%;
}

@media (max-width: 768px){
	.controls{
		bottom: 0;
	}

	.dice img{
		width: 80px;
		height: 80px;
		position: fixed;
		bottom: 55%;
	}

}